# On the plague trail: HackerEarth
https://www.hackerearth.com/challenges/competitive/on-the-plague-trail-hackerearth-machine-learning-challenge/problems/

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [2]:
df = pd.read_csv('8f86dc50-7-dataset/train.csv')

In [3]:
df.head()

,ID,DateTime,TempOut,HiTemp,LowTemp,OutHum,DewPt,WindSpeed,WindDir,WindRun,...,WindTx,ISSRecpt,ArcInt,PA,PB,PC,PD,PE,PF,PG
0,PR00001,07-12-2040 0:15,53.5,53.6,53.5,85,49.1,2,SSE,0.5,...,1,100.0,15,1,1,1,1,1,1,1
1,PR00002,07-12-2040 0:30,53.5,53.5,53.4,85,49.1,2,SSE,0.5,...,1,100.0,15,1,1,1,1,1,1,1
2,PR00003,07-12-2040 0:45,53.3,53.5,53.2,85,48.9,2,SSE,0.5,...,1,100.0,15,1,1,1,1,1,1,1
3,PR00004,07-12-2040 1:00,53.1,53.3,53.0,86,49.0,2,S,0.5,...,1,100.0,15,1,1,1,1,1,1,1
4,PR00005,07-12-2040 1:15,52.9,53.1,52.9,86,48.8,2,S,0.5,...,1,100.0,15,1,1,1,1,1,1,1

In [4]:
df.values.shape

(40000, 37)

In [5]:
ds= df.drop(['ID','DateTime'],axis=1)

In [6]:
ds.head()

,TempOut,HiTemp,LowTemp,OutHum,DewPt,WindSpeed,WindDir,WindRun,HiSpeed,HiDir,...,WindTx,ISSRecpt,ArcInt,PA,PB,PC,PD,PE,PF,PG
0,53.5,53.6,53.5,85,49.1,2,SSE,0.5,9,SE,...,1,100.0,15,1,1,1,1,1,1,1
1,53.5,53.5,53.4,85,49.1,2,SSE,0.5,7,SSE,...,1,100.0,15,1,1,1,1,1,1,1
2,53.3,53.5,53.2,85,48.9,2,SSE,0.5,7,SSE,...,1,100.0,15,1,1,1,1,1,1,1
3,53.1,53.3,53.0,86,49.0,2,S,0.5,5,S,...,1,100.0,15,1,1,1,1,1,1,1
4,52.9,53.1,52.9,86,48.8,2,S,0.5,6,SW,...,1,100.0,15,1,1,1,1,1,1,1

In [7]:
ds.dropna(axis=0).values.shape

(40000, 35)

In [8]:
ds= ds.drop(['WindDir','HiDir'],axis=1)

In [9]:
ds.values.shape

(40000, 33)

In [10]:
print(ds.columns[:26])
print('--------------')
print(ds.columns[26:])
print('----------')
print(type(ds.values))

Index(['TempOut', 'HiTemp', 'LowTemp', 'OutHum', 'DewPt', 'WindSpeed',
       'WindRun', 'HiSpeed', 'WindChill', 'HeatIndex', 'THWIndex', 'Bar',
       'Rain', 'RainRate', 'HeatDD', 'CoolDD', 'InTemp', 'InHum', 'InDew',
       'InHeat', 'InEMC', 'InAirDensity', 'WindSamp', 'WindTx', 'ISSRecpt',
       'ArcInt'],
      dtype='object')
--------------
Index(['PA', 'PB', 'PC', 'PD', 'PE', 'PF', 'PG'], dtype='object')
----------
<class 'numpy.ndarray'>

In [11]:
ds.values[:,26:].shape

(40000, 7)

In [12]:
x= ds.values[:,:26]
y= ds.values[:,26:]

In [13]:
print(x.shape,y.shape)

(40000, 26) (40000, 7)

In [14]:
for i in range(1,40000):
    y[i]=y[i]-y[i-1]

In [15]:
print(y.shape)
print(y[1])

(40000, 7)
[0. 0. 0. 0. 0. 0. 0.]

In [16]:
ya=y[:,:1]
yb=y[:,1:2]
yc=y[:,2:3]
yd=y[:,3:4]
ye=y[:,4:5]
yf=y[:,5:6]
yg=y[:,6:7]

In [17]:
print(ya.shape)
print(yb.shape)

(40000, 1)
(40000, 1)

In [18]:
print(len(np.unique(ya)))

1502

In [19]:
# from sklearn.ensemble import RandomForestClassifier
# rfa = RandomForestClassifier()
# rfa.fit(x,ya)

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lra = LinearRegression().fit(x, ya)

In [22]:
lrb = LinearRegression().fit(x, yb)

In [23]:
lrc = LinearRegression().fit(x, yc)

In [24]:
lrd = LinearRegression().fit(x, yd)

In [25]:
lre = LinearRegression().fit(x, ye)

In [26]:
lrf = LinearRegression().fit(x, yf)

In [27]:
lrg = LinearRegression().fit(x, yg)

In [28]:
dft = pd.read_csv('8f86dc50-7-dataset/test.csv')

In [29]:
dst = dft.drop(['WindDir','HiDir','ID','DateTime'],axis=1)

In [30]:
dst.head()

,TempOut,HiTemp,LowTemp,OutHum,DewPt,WindSpeed,WindRun,HiSpeed,WindChill,HeatIndex,...,InTemp,InHum,InDew,InHeat,InEMC,InAirDensity,WindSamp,WindTx,ISSRecpt,ArcInt
0,82.6,83.6,80.8,38,54.4,4,1.0,9,82.6,81.8,...,68.3,29,34.8,64.6,6.08,0.0748,351,1,100.0,15
1,82.6,83.2,82.1,36,52.9,4,1.0,11,82.6,81.5,...,69.3,58,53.9,68.5,10.75,0.0741,351,1,100.0,15
2,83.6,84.5,82.4,38,55.3,4,1.0,11,83.6,83.3,...,68.4,30,35.7,64.8,6.25,0.0747,351,1,100.0,15
3,85.1,85.5,83.4,37,55.9,4,1.0,11,85.1,84.7,...,69.9,56,53.5,68.7,10.35,0.0740,352,1,100.0,15
4,86.5,87.3,85.1,37,57.1,4,1.0,10,86.5,86.2,...,68.5,67,57.1,68.7,12.38,0.0740,351,1,100.0,15

In [31]:
ids =dft['ID'].values
xt = dst.values
print(xt.shape)
print(ids.shape)

(22446, 26)
(22446,)

In [32]:
pa_pred = lra.predict(xt)

In [33]:
pa_pred.shape

(22446, 1)

In [34]:
pb_pred = lrb.predict(xt)
pc_pred = lrc.predict(xt)
pd_pred = lrd.predict(xt)
pe_pred = lre.predict(xt)
pf_pred = lrf.predict(xt)
pg_pred = lrg.predict(xt)

In [35]:
pa_pred= pa_pred.tolist()
print(len(pa_pred))

22446

In [36]:
pb_pred= pb_pred.tolist()
pc_pred= pc_pred.tolist()
pd_pred= pd_pred.tolist()
pe_pred= pe_pred.tolist()
pf_pred= pf_pred.tolist()
pg_pred= pg_pred.tolist()

In [37]:
# pred_df = pd.DataFrame({'ID': ids,'PA':pa_pred,'PB':pb_pred,'PC':pc_pred,'PD':pd_pred,'PE':pe_pred,'PF':pf_pred,'PG':pg_pred})

In [38]:
# pred_df.head()

In [39]:
# pred_df.to_csv('prediction.csv', columns=['ID','PA','PB','PC','PD','PE','PF','PG'], header=True, sep=',')

In [40]:
int(pa_pred[0][0])

293

In [41]:
pa =[]
pa.append(str(int(pa_pred[0][0])))
for i in range(1,22446):
    pa_pred[i][0]=pa_pred[i][0]+pa_pred[i-1][0]
    pa.append(str(int(pa_pred[i][0])))

In [42]:
pa[0]

'293'

In [43]:
pb =[]
pb.append(str(int(pb_pred[0][0])))
for i in range(1,22446):
    pb_pred[i][0]=pb_pred[i][0]+pb_pred[i-1][0]
    pb.append(str(int(pb_pred[i][0])))
    
pc =[]
pc.append(str(int(pc_pred[0][0])))
for i in range(1,22446):
    pc_pred[i][0]=pc_pred[i][0]+pc_pred[i-1][0]
    pc.append(str(int(pc_pred[i][0])))

pd1 =[]
pd1.append(str(int(pd_pred[0][0])))
for i in range(1,22446):
    pd_pred[i][0]=pd_pred[i][0]+pd_pred[i-1][0]
    pd1.append(str(int(pd_pred[i][0])))

pe =[]
pe.append(str(int(pe_pred[0][0])))
for i in range(1,22446):
    pe_pred[i][0]=pe_pred[i][0]+pe_pred[i-1][0]
    pe.append(str(int(pe_pred[i][0])))

pf =[]
pf.append(str(int(pf_pred[0][0])))
for i in range(1,22446):
    pf_pred[i][0]=pf_pred[i][0]+pf_pred[i-1][0]
    pf.append(str(int(pf_pred[i][0])))

pg =[]
pg.append(str(int(pg_pred[0][0])))
for i in range(1,22446):
    pg_pred[i][0]=pg_pred[i][0]+pg_pred[i-1][0]
    pg.append(str(int(pg_pred[i][0])))

In [44]:
type(pa)
np.array(pa)

array(['293', '628', '951', ..., '4117847', '4118041', '4118158'],
      dtype='<U7')

In [45]:
pred_df = pd.DataFrame({'ID': ids,'PA':pa,'PB':pb,'PC':pc,'PD':pd1,'PE':pe,'PF':pf,'PG':pg})

In [46]:
pred_df.head()

        ID    PA   PB   PC   PD   PE   PF   PG
0  PR40001   293  151   87   55   37   26   19
1  PR40002   628  324  187  118   80   57   42
2  PR40003   951  491  283  179  121   86   64
3  PR40004  1312  677  391  246  166  118   88
4  PR40005  1727  888  511  321  216  154  114

In [47]:
pred_df.to_csv('prediction.csv', columns=['ID','PA','PB','PC','PD','PE','PF','PG'], header=True, sep=',')

# Neural Network

In [48]:
import numpy
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

Using TensorFlow backend.

In [49]:
modela = Sequential()
modela.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modela.add(Dense(6, kernel_initializer='normal', activation='relu'))
modela.add(Dense(1, kernel_initializer='normal'))
# Compile model
modela.compile(loss='mean_squared_error', optimizer='adam')
#To remove progress bar use verbose=0
modela.fit( x, ya, shuffle=True, batch_size=128, epochs=50 ,verbose=0)

In [50]:
modelb = Sequential()
modelb.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modelb.add(Dense(6, kernel_initializer='normal', activation='relu'))
modelb.add(Dense(1, kernel_initializer='normal'))
# Compile model
modelb.compile(loss='mean_squared_error', optimizer='adam')
modelb.fit( x, yb, shuffle=True, batch_size=128, epochs=50, verbose=0 )

In [51]:
modelc = Sequential()
modelc.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modelc.add(Dense(6, kernel_initializer='normal', activation='relu'))
modelc.add(Dense(1, kernel_initializer='normal'))
# Compile model
modelc.compile(loss='mean_squared_error', optimizer='adam')
modelc.fit( x, yc, shuffle=True, batch_size=128, epochs=50, verbose=0 )

In [52]:
modeld = Sequential()
modeld.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modeld.add(Dense(6, kernel_initializer='normal', activation='relu'))
modeld.add(Dense(1, kernel_initializer='normal'))
# Compile model
modeld.compile(loss='mean_squared_error', optimizer='adam')
modeld.fit( x, yd, shuffle=True, batch_size=128, epochs=50, verbose=0 )

In [53]:
modele = Sequential()
modele.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modele.add(Dense(6, kernel_initializer='normal', activation='relu'))
modele.add(Dense(1, kernel_initializer='normal'))
# Compile model
modele.compile(loss='mean_squared_error', optimizer='adam')
modele.fit( x, ye, shuffle=True, batch_size=128, epochs=50,verbose=0)

In [54]:
modelf = Sequential()
modelf.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modelf.add(Dense(6, kernel_initializer='normal', activation='relu'))
modelf.add(Dense(1, kernel_initializer='normal'))
# Compile model
modelf.compile(loss='mean_squared_error', optimizer='adam')
modelf.fit( x, yf, shuffle=True, batch_size=128, epochs=50,verbose=0 )

In [55]:
modelg = Sequential()
modelg.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
modelg.add(Dense(6, kernel_initializer='normal', activation='relu'))
modelg.add(Dense(1, kernel_initializer='normal'))
# Compile model
modelg.compile(loss='mean_squared_error', optimizer='adam')
modelg.fit( x, yg, shuffle=True, batch_size=128, epochs=50,verbose=0 )

In [56]:
a=modela.predict(xt)
b=modelb.predict(xt)
c=modelc.predict(xt)
d=modeld.predict(xt)
e=modele.predict(xt)
f=modelf.predict(xt)
g=modelg.predict(xt)

In [57]:
print(type(a[0]))
print(a.shape)
print(a[0][0])

<class 'numpy.ndarray'>
(22446, 1)
15.380114

In [58]:
pa =[]
pa.append(str(int(a[0][0])))
for i in range(1,22446):
    a[i][0]=a[i][0]+a[i-1][0]
    pa.append(str(int(a[i][0])))

In [59]:
print(len(pa))

22446

In [60]:
pb =[]
pb.append(str(int(b[0][0])))
for i in range(1,22446):
    b[i][0]=b[i][0]+b[i-1][0]
    pb.append(str(int(b[i][0])))
    
pc =[]
pc.append(str(int(c[0][0])))
for i in range(1,22446):
    c[i][0]=c[i][0]+c[i-1][0]
    pc.append(str(int(c[i][0])))

pd1 =[]
pd1.append(str(int(d[0][0])))
for i in range(1,22446):
    d[i][0]=d[i][0]+d[i-1][0]
    pd1.append(str(int(d[i][0])))

pe =[]
pe.append(str(int(e[0][0])))
for i in range(1,22446):
    e[i][0]=e[i][0]+e[i-1][0]
    pe.append(str(int(e[i][0])))

pf =[]
pf.append(str(int(f[0][0])))
for i in range(1,22446):
    f[i][0]=f[i][0]+f[i-1][0]
    pf.append(str(int(f[i][0])))

pg =[]
pg.append(str(int(g[0][0])))
for i in range(1,22446):
    g[i][0]=g[i][0]+g[i-1][0]
    pg.append(str(int(g[i][0])))

In [61]:
pred_df = pd.DataFrame({'ID': ids,'PA':pa,'PB':pb,'PC':pc,'PD':pd1,'PE':pe,'PF':pf,'PG':pg})

In [62]:
pred_df.head()

        ID  PA   PB   PC   PD   PE   PF   PG
0  PR40001  15  145   78   53   35   21   19
1  PR40002  30  305  161  110   73   45   40
2  PR40003  46  470  249  171  113   70   62
3  PR40004  61  649  341  235  154   95   84
4  PR40005  76  830  432  299  195  120  106

In [63]:
pred_df.to_csv('NNprediction.csv', columns=['ID','PA','PB','PC','PD','PE','PF','PG'], header=True, sep=',')

# Linear Regression : 74.96
# Neural Network with 3 epochs : 76.95
# Neural Network with 30-35 epochs : 78.07
# Neural Network with 50 epochs : 78.027
# Neural Network with 100 epochs : 76.70